.heading {
  position: relative;
  width: 100vw;
  height: 658px;
  background: #000000;
}

.head__home-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main__lore {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100vw;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.lore__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 32px;

  width: 30vw;
  height: 350px;
}

.lore__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 32px;
  width: 416px;
  height: 418px;
}
.txt {
  width: 352px;
  height: auto;
  margin: 10px;
  padding: 10px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #ffffff;

  text-align: justify;
}

@media screen and (max-width: 650px) {
  .heading {
    height: 400px;
  }
  .main__lore {
    flex-direction: column;
  }
  .lore__heading {
    justify-content: center;
    align-items: center;
    padding: 0px 32px;

    width: 80%;
    height: auto;
  }
  h2 {
    font-size: 2vw;
  }
  .lore__text {
    padding: 0px 32px;
    width: 416px;
    height: auto;
  }

  .txt {
    font-size: 10px !important;
    margin: 5px;
    padding: 5px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    height: 300px;
  }
  .txt {
    font-size: 8px !important;
    margin: 2px;
    padding: 2px;
  }
}
@media screen and (max-width: 350px) {
  .lore__text {
    padding: 0px 20px;
    width: 300px;
    height: auto;
  }

  .txt {
    font-size: 7px !important;
    width: auto;
    text-align: justify;
    margin: 5px;
    padding: 5px;
  }
}
