.lore__card2 {
  position: relative;
  width: 100vw;
  height: auto;
  background: black;
}
.lore__card2-top {
  width: 65%;
  height: auto;
  color: white;
}

.lore__card2-body {
  width: 80%;
  height: auto;
  color: white;
}
.card2 {
  width: 200px;
  height: auto;
}
.lore__card2-img {
  width: 100%;
  height: auto;
}
.card2__lore-text {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #ffffff;
}

@media screen and (max-width: 481px) {
  .lore__card2-top-title {
    font-size: 30px;
  }

  .lore__card2-body {
    flex-direction: column;
    width: 500px;
    gap: 50px;
  }
  .lore__card2-body-title {
    font-size: 30px;
  }
  .card1 {
    gap: 20px;
    width: 150px;
    height: auto;
  }

  .card2__lore-text {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .lore__card2-top-title {
    font-size: 30px;
  }

  .lore__card2-body {
    flex-direction: column;
    width: 500px;
    gap: 50px;
  }
  .lore__card2-body-title {
    font-size: 30px;
  }
  .card1 {
    gap: 20px;
    width: 150px;
    height: auto;
  }

  .card2__lore-text {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lore__card2-top-title {
    font-size: 30px;
  }

  .lore__card2-body {
    /* flex-direction: column; */
    width: 100%;
    gap: 50px;
  }
  .lore__card2-body-title {
    font-size: 18px;
  }
  .card1 {
    gap: 20px;
    width: 200px;
    height: auto;
  }

  .card2__lore-text {
    font-size: 10px;
  }
}
