.lore__card2 {
  position: relative;
  width: 100vw;
  height: auto;
  background: black;
}
.lore__card2-top {
  width: 848px;
  height: 56px;
  color: white;
}
.lore__card2-top_head>h3 {
  width: 600px;
  height: 56px;

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}
.lore__card2-top_head>a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  width: 167px;
  height: 56px;

  background: #ff4143;
  border-radius: 80px;
}
.lore__card2-body {
  width: 849px;
  height: 500px;
  color: white;
}
.lore__card2-img {
  width: 221px;
  height: 221px;

  border-radius: 12px;
}
