.explore {
  position: relative;
  width: 100vw;
  height: auto;
}
.img {
  position: relative;
  width: 100%;
  height: auto;
}

.exp__lore-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.explore__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75%;
  gap: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.explore__text-top {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  padding: 0px 32px;
  gap: 50px; 

  width: 60%;
 height: 350px;
  color: #fff;
}

.exp__btn {
  padding: 16px 32px;
  display: inline-block;
  width: 210px;
  height: 56px;
  margin-top: 20px;

  background: #ff4143;
  border-radius: 80px;
}
.explore__card {
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1691px;
  height: 221px;
}
.explore__card-img {
  width: 221px;
  height: 221px;

  border-radius: 15px;
}

@media screen and (max-width:481px) {
  
  .explore__text-top{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
      gap: 0; 

  width: 70%;
  }
  .exp__home-title{
    font-size: 3vw;
  }
  .explore__text-p{
    font-size: 8px;
  }
  .exp__btn{
    padding: 8px 16px;
   
    width: 130px;
    height: 35px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 10px;
  }

  .explore__card-img{
    width: 80px;
    height: 80px;
  
    border-radius: 10px;
  }
  
}


@media screen and (min-width:481px) and (max-width:768px){
  
  .explore__text-top{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
      gap: 0; 

  width: 80%;
  }
  .exp__home-title{
    font-size: 3.5vw;
  }
  .explore__text-p{
    font-size: 12px;
  }
  .exp__btn{
    padding: 12px 20px;
   
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-radius: 35px;
    font-size: 12px;
  }

  .explore__card-img{
    width: 90px;
    height: 90px;
  
    border-radius: 10px;
  }
  
}

@media screen and (min-width:768px) and (max-width:1024px){
  
  .explore__text-top{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 50px; 

   width: 75%;
  }
  .exp__home-title{
    font-size: 4vw;
  }
  .explore__text-p{
    font-size: 14px;
  }
  .exp__btn{
    padding: 12px 20px;
   
    width: 180px;
    height: 45px;
    margin-top: 20px;
    border-radius: 40px;
    font-size: 13px;
  }

  .explore__card-img{
    width: 180px;
    height: 180px;
  
    border-radius: 15px;
  }
  
}